body {
    /* background-color: #564f4f; */
    font-family: 'Roboto';
}

.navi {
	position: fixed;
	top: 37px;
	left: 0;
	right: 0;
	padding: 5px 0;
	transition: all .6s ease-in-out;
	z-index: 30;
}

.fixed-navi {
	top: 0;
	background-color: #222323;
	z-index: 100;
}

.logo {
	font-size: 1.125em;
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	color: #82b541;
	letter-spacing: 4.2px;
	background: url(../img/logo.png) 4px 2px no-repeat,
				url(../img/company-name.png) 69px -1px no-repeat;
}

.logo span {
	display: inline-block;
	padding: 32px 0 0 71px;
	letter-spacing: 4.4px;
}

/* навигация */

.wrap-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 0.9375em;
	list-style: none;
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
}

nav li a {
	color: #fff;
	transition: all .5s ease-out;
}

nav li a:hover {
	color: #82b541;
	text-decoration: none;
}

nav ul li:first-child {
	margin-right: 39px;
}

nav ul li:nth-child(2) {
	margin-right: 46px;
}

nav ul li:nth-child(3) {
	margin-right: 45px;
}

nav ul li:nth-child(4) {
	margin-right: 40px;
}

.bg-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(../img/hero-bg.jpg);
  z-index: -1000;
}

.bg-photo > img {
  width: 100%;
}

/* таймер */

.timer {
	width: 972px;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	border: 2px solid #90d23d;
	border-radius: 20px;
	margin: 221px auto 383px;
  cursor: default;
  user-select: none;
}

.countdown-row {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 15px;
}

.countdown-section {
  width: 18%;
  position: relative;
}

.countdown-section:before, .countdown-section:after {
  content: "";
  width: 6px;
  height: 8px;
  position: absolute;
  top: 50px;
  right: -25px;
  background-color: #fff;
}

.countdown-section:after {
  top: 100px;
}

.countdown-section:last-child:before, .countdown-section:last-child:after {
  background-color: transparent;
}

.countdown-amount {
  display: block;
  font-size: 8.125em;
  font-weight: 100;
  line-height: 143px;
  text-align: center;
}

.countdown-period {
  width: 100%;
  font-size: 1.5625em;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

/* блок Welcome! */

.grey_line {
	height: 200px;
    width: 100%;
    background-color: #564f4f;
    transform: skewY(-5deg);
    position: absolute;
    top: -152px;
}

.white_line_wrap {

}

.white_line {
    height: 300px;
    width: 100%;
    background-color: #fff;
    transform: skewY(-5deg);
    position: absolute;
    top: -101px;
}

main {
	/* временно */
	font-family: 'Roboto', sans-serif;
	color: #242424;
	background-color: #fff;
	position: relative;
	padding-bottom: 96px;
}

h1 {
  font-weight: 900;
  font-size: 3.125em;
  margin: 8px 0 12px 5px;
}

main p {
  font-size: 0.875em;
  font-weight: 300;
  margin-top: 10px;
  margin-left: 4px;
  margin-bottom: 16px;
  letter-spacing: 0.004em;
  line-height: 17.5px;
}

main p strong {
	font-weight: 500;
}

.welcome_wrap {
	padding-right: 20px;
  margin-left: 8px;
}

.bouncers {
  position: absolute;
  height: 200px;
}

/*
.icons div:first-child {
    display: block;
    width: 190px;
    height: 153px;
    position: absolute;
    top: -55px;
    left: -37px;
    background-image: url(../img/icon-1.png);
    background-repeat: no-repeat;
    z-index: 5;
}

.icons div:nth-child(2) {
	width: 171px;
    height: 151px;
    position: absolute;
    top: -65px;
    left: 95px;
    background-image: url(../img/icon-2.png);
    background-repeat: no-repeat;
    z-index: 4;
}

.icons div:nth-child(3) {
	width: 170px;
    height: 155px;
    position: absolute;
    top: -80px;
    left: 217px;
    background-image: url(../img/icon-3.png);
    background-repeat: no-repeat;
    z-index: 3;
}

.icons div:nth-child(4) {
	width: 170px;
    height: 155px;
    position: absolute;
    top: -91px;
    left: 354px;
    background-image: url(../img/icon-4.png);
    background-repeat: no-repeat;
    z-index: 2;
}

.icons div:nth-child(5) {
	width: 170px;
    height: 153px;
    position: absolute;
    top: -100px;
    left: 486px;
    background-image: url(../img/icon-5.png);
    background-repeat: no-repeat;
    z-index: 1;
}
*/

.sign_up {
	width: 431px;
	height: 530px;
	background-color: #fff;
	box-shadow: 0.5px 0.8px 2px rgb(35, 31, 32);
	position: absolute;
	top: -267px;
  left: 57px;
	z-index: 6;
}

.sign_up h2 {
	color: #252525;
	font-size: 1.875em;
	font-weight: 700;
	margin: 29px 0 0 75px;
}

.inputs {
	margin: 18px 0 0 28px;
}

.inputs input {
	width: 373px;
	height: 55px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	margin-bottom: 19px;
	font-size: 1.1875em;
	font-weight: 300;
	color: #6c6c6c;
	padding: 2px 0 0 14px;
}

.inputs input:focus {
	outline: none;
	border-color: #90d23d;
	transition: all 0.5s ease-in;
}

.sign_up input::placeholder {
	color: #bebebe;
}

.formbtn {
    width: 372px;
    height: 56px;
    background-color: #90d23d;
    border-radius: 5px;
    border: 1px solid #90d23d;
    color: #fff;
    font-size: 1.375em;
    font-weight: 700;
    margin: 20px 0 17px 29px;
    padding: 2px 0 0 4px;
    outline: none;
    cursor: pointer;
}

.formbtn:hover {
	background-color: #fff;
	color: #90d23d;
	transition: all .5s ease-in;
}

.sign_up span {
	display: block;
    text-align: center;
    font-size: 0.9375em;
    font-weight: 300;
    color: #6c6c6c;
    line-height: 1.2;
}

/* Event details */

.event_details {
	margin-top: 107px;
  padding-left: 8px;
}

.event_details h3 {
	font-size: 2.1875em;
  font-weight: 900;
}

.event_details .row .col:first-child img {
	margin-left: 59px;
}

.event_details .row .col:first-child h3 {
    padding: 34px 0 0 65px;
}

.event_details .row .col:first-child p {
	width: 300px;
	margin: 17px 0 0 13px;
}

.event_details .row .col:nth-child(2) img {
	margin: 13px 0 0 59px;
}

.event_details .row .col:nth-child(2) h3 {
	padding: 37px 0 0 79px;
}

.event_details .row .col:nth-child(2) p {
	width: 300px;
    margin: 12px 0 0 10px;
    text-align: center;
}

.event_details .row .col:nth-child(3) img {
	margin: 10px 0 0 19px;
}

.event_details .row .col:nth-child(3) h3 {
	padding: 37px 0 0 37px;
}

.event_details .row .col:nth-child(3) p {
	width: 300px;
    margin: 13px 0 0 -16px;
    text-align: center;
}

/* Event-table */

section {
	background-color: #fff;
}

.event-table {
	padding: 0 76px 0px 11px;
}

.event-table .head {
	background-color: #a3cc40;
	font-size: 1.875em;
	font-weight: 900;
	color: #fff;
	border-radius: 15px 15px 0 0;
}

.head ul li:first-child {
	margin: 0 5px;
}

.table-row {
	width: 100%;
	padding: 16px 0;
	background-color: #373737;
	font-size: 1.375em;
	color: #fff;
}

.alt {
	background-color: #4b4d4f;
}

.table-row ul {
	list-style: none;
	display: flex;
	margin: 0;
	position: relative;
	padding: 0;
}

.table-row li {
	list-style: none
}

.table-row ul li:first-child {
	margin: 0 30px;
	width: 170px;
	text-align: center;
}

.table-row ul li:nth-child(2) {
	margin-left: 108px;
}

.more {
	margin: 0 15px;
	position: absolute;
	right: 15px;
	width: 70px;
    text-align: center;
}

.more span {
	cursor: pointer;
	display: inline-block;
	background: url(../img/plus.png) center center no-repeat;
	width: 33px;
	height: 33px;
}

span.minus {
	background: url(../img/minus.png);
}

.event-desc {
	display: none;
	width: 100%;
	padding: 20px 50px;
	font-size: 0.9375em;
	color: #ccc;
	text-align: justify;
}

.bottom {
	border-radius: 0 0 15px 15px;
}

.msg {
	font-size: 0.875em;
	font-weight: 300;
	color: #242424;
	width: 80%;
	text-align: center;
	margin: 40px auto;
}
